@using BeYeuBookstore.Extensions;
@using BeYeuBookstore.Data.Entities;
@using BeYeuBookstore.Application.ViewModels;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/Frontend/_Layout.cshtml";
}

@section Scripts{
    <script src="~/app/controllers/beyeubookstore/checkout/index.js"></script>
    <script>
        var checkOutController = new checkOutController();
        checkOutController.initialize();
    </script>
}

<!-- entry-header-area-start -->
<div class="entry-header-area" style="margin-top:15px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="entry-header-title">
                    <h2>Thanh toán</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- entry-header-area-end -->
@if (!HttpContextAccessor.HttpContext.Session.Get<Boolean>("IsLogin"))
{
    <!-- coupon-area-area-start -->
    <div class="coupon-area mb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="coupon-accordion">
                        <h3>Bạn chưa đăng nhập? <span id="showlogin"><a href="@Url.Action("SignIn","BeyeuBookstore")">Nhấp vào đây để đăng nhập</a></span></h3>
                        @*
                            <div class="coupon-content" id="checkout-login">
                                <div class="coupon-info">
                                    <p class="coupon-text">Quisque gravida turpis sit amet nulla posuere lacinia. Cras sed est sit amet ipsum luctus.</p>
                                    <form action="#">
                                        <p class="form-row-first">
                                            <label>Username or email <span class="required">*</span></label>
                                            <input type="text">
                                        </p>
                                        <p class="form-row-last">
                                            <label>Password  <span class="required">*</span></label>
                                            <input type="text">
                                        </p>
                                        <p class="form-row">
                                            <input type="submit" value="Login">
                                            <label>
                                                <input type="checkbox">
                                                Remember me
                                            </label>
                                        </p>
                                        <p class="lost-password">
                                            <a href="#">Lost your password?</a>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        *@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- coupon-area-area-end -->
}
else
{
    @if (HttpContextAccessor.HttpContext.Session.Get<User>("User").UserTypeFK == 3)
    {
        var Total = 0;
        var Cart = HttpContextAccessor.HttpContext.Session.Get<List<CartViewModel>>("CartSession");
        @*
        if(Cart != null)
        {
            Cart = Cart.Where(x => x.Book.Quantity > 0 && x.Quantity <= x.Book.Quantity).ToList();
        }
            *@
        @if (Cart != null && Cart.Count > 0)
        {
            var NumberOfMerchant = Cart.GroupBy(x => x.Book.MerchantFK).ToList().Count();
            <!-- checkout-area-start -->
            <div class="checkout-area mb-70">
                <div class="container">
                    <div class="row">
                        <form action="" onsubmit="return false">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="checkbox-form">
                                    <h3>Thông tin giao hàng</h3>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                            <div class="checkout-form-list">
                                                <label>Tên người nhận hàng</label>
                                                <input id="txtDeliName" type="text" placeholder="Tên người nhận hàng">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="checkout-form-list">
                                                <label>Địa chỉ nhận hàng</label>
                                                <input id="txtDeliAddress" type="text" placeholder="Địa chỉ nhận hàng">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="checkout-form-list">
                                                <label>Số điện thoại<span style="margin-left:10px" id="txtPhoneMessage" class="required"></span></label>
                                                <input id="txtDeliPhone" type="text" placeholder="Số điện thoại">
                                            </div>
                                        </div>
                                        <p>Nếu để trống sẽ lấy tên người nhận hàng, địa chỉ và số điện thoại mặc định</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="your-order">
                                    <h3>Chi tiết đơn hàng</h3>
                                    <div class="your-order-table table-responsive">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="product-name">Sách</th>
                                                    <th class="product-total">Tổng tiền</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblCartItem">
                                                @for (int i = 0; i < Cart.Count; i++)
                                                {
                                                    <tr class="cart_item">
                                                        <td class="product-name">
                                                            @Cart[i].Book.BookTitle <strong class="product-quantity"> × @Cart[i].Quantity</strong>
                                                        </td>
                                                        <td class="product-total">
                                                            <span class="amount">
                                                                @{
                                                                    var unitPrice = Convert.ToInt32(@Cart[i].UnitPrice);
                                                                    var subtotal = Cart[i].Quantity * unitPrice;
                                                                    Total += subtotal;
                                                                    Write(subtotal.ToString("###,###,###,###,###"));
                                                                }
                                                            </span>
                                                        </td>
                                                    </tr>
                                                                    }
                                            </tbody>
                                            <tfoot>
                                                <tr class="cart-subtotal">
                                                    <th>Tổng tiền</th>
                                                    <td><span class="amount money" id="Total">@Total</span></td>
                                                </tr>
                                                <tr class="shipping">
                                                    <th>Phí vận chuyển</th>
                                                    <td>
                                                        <span class="amount" id="Shipping">@{Write((NumberOfMerchant * 25000).ToString("###,###,###,###,###"));}</span>
                                                    </td>
                                                </tr>
                                                <tr class="order-total">
                                                    <th>Thành tiền</th>
                                                    <td>
                                                        @{ 
                                                            var TotalWithShip = Total + NumberOfMerchant * 25000;
                                                            var textTotalMoney = TotalWithShip.ToString("###,###,###,###");
                                                        }
                                                        <strong><span class="amount">@textTotalMoney</span></strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Phương thức thanh toán</th>
                                                    <td>
                                                        <input class="pull-left" type="checkbox" checked disabled/> <span class="pull-left">Tiền mặt khi nhận hàng</span> <br>
                                                        <input class="pull-left" type="checkbox" disabled/> <span class="disabled">Thanh toán bằng thẻ (Chức năng chưa hoàn thiện)</span> <br>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="order-button-payment" id="btnCheckOutHolder">
                                        <input id="btnCheckOut" type="submit" value="Đặt hàng">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- checkout-area-end -->
        }
        else{
            <div class="checkout-area mb-70">
                <div class="container">
                    <p>Giỏ hàng của bé đang trống, hãy quay lại <a href="@Url.Action("Shopping","BeyeuBookstore")">cửa hàng</a> để đặt hàng nhé</p>
                </div>
            </div>
        }
    }
    else
    {
        <script>
            window.location.href = @Url.Action("Index", "Home");
        </script>
    }
}

<script id="CartItem" type="x-tmpl-mustache">
    <tr class="cart_item">
        <td class="product-name">
            {{BookName}} <strong class="product-quantity"> × {{Quantity}}</strong>
        </td>
        <td class="product-total">
            <span class="amount money">{{SubTotal}}</span>
        </td>
    </tr>
</script>